@keyframes c-glowing-blue {
    0% {
      box-shadow: 0 0 5px #8fbff8, 0 0 5px #8fbff8, 0 0 15px #8fbff8, 0 0 20px #0271F7, 0 0 10px #0271F7, 0 0 10px #0271F7, 0 0 10px #0271F7, 0 0 10px #0271F7
    }
  
    to {
      box-shadow: 0 0 2.5px #8fbff8, 0 0 2.5px #8fbff8, 0 0 7.5px #8fbff8, 0 0 10px #0271F7, 0 0 5px #0271F7, 0 0 5px #0271F7, 0 0 5px #0271F7, 0 0 2px #0271F7
    }
  }

  @keyframes c-glowing-red {
    0% {
      box-shadow: 0 0 5px #ebd5d2, 0 0 5px #ebd5d2, 0 0 15px #ebd5d2, 0 0 20px #D60223, 0 0 10px #D60223, 0 0 10px #D60223, 0 0 10px #D60223, 0 0 10px #D60223
    }
  
    to {
      box-shadow: 0 0 2.5px #ebd5d2, 0 0 2.5px #ebd5d2, 0 0 7.5px #ebd5d2, 0 0 10px #D60223, 0 0 5px #D60223, 0 0 5px #D60223, 0 0 5px #D60223, 0 0 2px #D60223
    }
  }

  @keyframes text-glowing-blue {
    0% {
      text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #d3ffff, 0 0 5px #d3ffff, 0 0 2px #d3ffff, 0 0 10px #d3ffff, 0 0 10px #d3ffff
    }
  
    to {
      text-shadow: 0 0 .5px #fff, 0 0 .5px #fff, 0 0 .5px #fff, 0 0 .5px #d3ffff, 0 0 5px #d3ffff, 0 0 .5px #d3ffff, 0 0 5px #d3ffff, 0 0 2px #d3ffff
    }
  }

  @keyframes text-glowing-red {
    0% {
      text-shadow: 0 0 1px #ebd5d2, 0 0 1px #ebd5d2, 0 0 1px #ebd5d2, 0 0 1px #f7b0a7, 0 0 5px #f7b0a7, 0 0 2px #f7b0a7, 0 0 10px #f7b0a7, 0 0 10px #f7b0a7
    }
  
    to {
      text-shadow: 0 0 .5px #ebd5d2, 0 0 .5px #ebd5d2, 0 0 .5px #ebd5d2, 0 0 .5px #f7b0a7, 0 0 5px #f7b0a7, 0 0 .5px #f7b0a7, 0 0 5px #f7b0a7, 0 0 2px #f7b0a7
    }
  }