@media (max-width: 1280px) {
  .titulo {
    font-size: 40px;
  }

  .lista-de-personagens {
    max-width: 330px;
  }

  .lista-de-personagens .personagem {
    width: 30%;
    height: auto;
  }
}

@media (max-width: 767px) {
  body::before {
    background-image: url("../imagens/bg-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
  }

  main {
    padding: 0 50px;
    justify-content: start;
  }

  .cabecalho .titulo {
    font-size: 22px;
  }

  .personagem-grande {    
    display: none;
  }
}

@media (max-width: 360px) {
  .cabecalho .titulo {
    font-size: 19px;
  }
}