@media (max-width: 1280px) {
  .lista-de-personagens{
    max-width: 100%;
  }

  .titulo {
    font-size: 40px;
  }

  ul {
    max-width: 330px;
  }

  ul li {
    width: 100px;
    height: 100px;
  }

  ul li img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}

@media (max-width: 912px) {
  .lista-de-personagens{
    margin-top: 150px;
  }

  .personagem-grande {
    width: 100%;    
  }
}

@media (max-width: 620px) {
  .personagem-grande {
    display: none;
  }

  .lista-de-personagens{
    margin-top: 100px;
  }

  header {
    top: 10px;
  }

  .titulo {
    font-size: 25px;
  }
}