body {
  font-family: 'ssf4', Courier, monospace;
  min-height: 100vh;  
  transition: opacity .4s ease-in;
  background: black;
}

/*gerar fundo com imagem com opacidade*/
body:before {
  content: ' ';
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url("../imagens/1cYrMYF.gif");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

main {
  overflow: hidden;
  height: 100vh;
  display: flex;
}


.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cabecalho {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translate(-50%, 0);
  z-index: 2;
  width: 100%;
}

.titulo {
  color: rgb(250, 239, 216);
  -webkit-text-stroke: 2px #f77a2c;

  text-transform: uppercase;
  font-size: 52px;
  line-height: 102px;
}

.selecao-de-pergonsagem {
  z-index: 2;
}

.lista-de-personagens {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  justify-content: center;
  gap: 12px;
}

.lista-de-personagens .personagem {
  border: 2px solid #d1ccd8;
  width: 160px;
  height: 160px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 1px #181209;
  position: relative;
}

.lista-de-personagens .personagem img {
  width: 160px;
  height: 160px;
  border-radius: 5px;
}

.lista-de-personagens .personagem:hover {
  border: 2px solid yellow;
}

.personagem-grande {  
  text-align: center;
  font-size: 32px;
  width: 30%;
  height: 80vh;
  position: relative;
}

.personagem-grande img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 80vh;
  max-width: 100%;
}

.nome-personagem h2{
  color: white;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'command', sans-serif;
  z-index: 2;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.personagem-grande.player-1 .nome-personagem h2{
  background-image: linear-gradient(to bottom, rgb(79, 77, 206), rgb(168, 167, 240), white);
}

.personagem-grande.player-2 .nome-personagem h2{
  background-image: linear-gradient(to bottom, rgb(211, 39, 33), rgb(212, 161, 160), white);
}

.nome-personagem:before{
  height: 30px;  
  width: 100%;
  content: '';
  z-index: 1;
  position: absolute;
  bottom: -15px;
  left: 0;
}


.personagem-grande.player-1 .nome-personagem:before{
  background-color: #0271F7;  
}

.personagem-grande.player-2 .nome-personagem:before{
  background-color: #D60223;  
}

.personagem.selecionado, .personagem :hover {
  animation: c-glowing-blue .3s ease-in-out infinite;
  animation-direction: alternate;
}

.personagem#ultron, .personagem#ultron :hover {
  animation: c-glowing-red .3s ease-in-out infinite;
  animation-direction: alternate;
}

.personagem .tag{
  display: none;
}

.personagem.selecionado .tag {
  display: block;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  top: 5px;
  left: 5px;
  position: absolute;
  color: #d3ffff;
  transition: opacity .15s ease-in-out;
  animation: text-glowing-blue .3s ease-in-out infinite;
  animation-direction: alternate;
}

.personagem#ultron .tag{
  display: block;
}

.personagem#ultron .tag {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  top: 5px;
  left: 5px;
  position: absolute;
  color: #f89284;
  transition: opacity .15s ease-in-out;
  animation: text-glowing-red .3s ease-in-out infinite;
  animation-direction: alternate;
}